* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Helvetica', 'Arial', sans-serif;
  background-color: #cb311d;
  margin: 0;
}

.on-books {
  background-color: white;
  width: 45rem;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  font-size: 1.65em;
  color: #cb311d;
  padding: 1.5rem;
}

.on-books p {
  margin: 0;
}

.black-horizontal {
  border: 0;
  margin: 0;
  height: 0.5em;
  background-color: black;
}

.content {
  background-color: white;
  padding: 1em;
  width: 45em;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
}

header h1 {
  font-weight: 600;
  font-size: 3.5em;
}

header p {
  font-size: 1.65em;
  width: 9em;
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  text-transform: uppercase;
}

.orange-horizontal {
  border: 0;
  height: 0.5em;
  width: 4em;
  background-color: #cb311d;
}

article {
  margin-top: 3em;
  margin-bottom: 3em;
}

.publication-date {
  text-align: center;
  color: #cb311d;
}

article h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}

.blog-copy {
  text-align: justify;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
